.Home{
    /* background-color: white; */
    background-image: linear-gradient(white, #e6f7ff);
    background-image: linear-gradient(to bottom right, white, white);
    height: 50vh;
    display: flex;
    color:#00334d;
    justify-content: space-between;
    
}

.left-home{
align-items: center;
/*background-color: aqua;*/
width: 655px;
text-align: left;
margin:100px;
padding: 10px;
margin-top: 200px;
}



.right-home{
/*background-color: aquamarine;*/
margin:50px;
padding: 10px;
}

.home-img{
    width: 600px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px grey;
    margin-top: 70px;
}

.homespan{
text-align: left;
margin-top: 10px;

}

span{
font-size: 20px;

}

h1{
    color:  #004d4d;
}